type hellodaemoncpp, domain;
type hellodaemoncpp_exec, vendor_file_type, exec_type, file_type;
init_daemon_domain(hellodaemoncpp)
allow hellodaemoncpp proc_version:file read;;
allow hellodaemoncpp proc_version:file open;
